/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL SETTING*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
}

.app {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card {
}

img {
    max-width: 100%;
}

figure > img {
    display: block;
    width: 350px;
    height: 190px;
}

/* HEADER SETTING */
.speaker-button {
    background-color: #4a4a4a;
    color: white;
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    padding: 0px 10px;
    border-radius: 10px;
    margin-right: 6px;
}

.speaker-view .col {
    position: fixed;
    right: 24px;
    top: 15px;
    z-index: 1;
}


/* MAIN SETTING */
.app-content {
    flex-grow: 1;
    overflow: auto;
    padding: 80px 50px 20px 50px;
}

.app-content .row [class^='col'] {
    padding: 0px 5px 10px 0px;
}

.app-content .card {
    position: relative;
}

.app-content .name-line {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    gap: 5px;
    background-color: rgba(70, 66, 66, 0.555);
    line-height: 22px;
    padding: 0 6px;
    font-size: 12px;
    

}

.app-content .row {
    justify-content: center;
}


/* FOOTER SETTING */
.app-toolbar {
    background-color: #222222;
}

.app-toolbar .col {
    display: flex;
    padding: 5px 0px 15px 0px;
    gap: 10px;
}

.app-toolbar .col.button {
    padding: 0;
}


.app-toolbar .row {
    justify-content: space-between;
}

.card-icon {
    line-height: 60px;
    width: 60px;
    font-size: 40px;
    aspect-ratio: 1;
    text-align: center;
}

.app-toolbar .card {
    text-align: center;
    margin: 0px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-toolbar .card.align-start {
    align-items: flex-start;
}

.col.button {
    width: 150px;
    background-color: #4a4a4a;
    justify-content: center;
    align-items: center;
}

.end-button {
    height: 100%;
    width: 100%;
}
.end-button button {
    background: none;
    width: 100%;
    display: inline-block;
    height: 100%;
    color: red;
    font-size: large;
    font-weight: 500;
}
/* DEBUG */

/* --general debug-- */

.debug .container {
    border: 3px solid black;
    padding: 20px;
    margin: 0 auto;
}    

.debug .row {
    border: 2px solid blue;
    padding: 10px;
}    

.debug .row [class^='col'] {
    border: 1px dashed green;
    padding: 10px;
}

.debug .card {
    padding: 10px;
    border: 1px dashed green;
}
    
/* --header-- */

.debug .speaker-view {
    background-color: salmon;
    padding: 10px 0px;
}

.debug .speaker-view .row {
   justify-content: flex-end;
}  

/* --main-- */

.debug .app-content {
    background-color: rgb(251, 255, 0);
}

/* --footer-- */

.debug .app-toolbar {
    background-color: brown;
    padding: 10px 0px;
}









